
@model IEnumerable<ControlEscolar.Models.CursoEscolarEntities>
@{
    ViewBag.Title = "AlumnosGpo";
}

<h2>Alumnos Inscritos</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label>Selecciona una carrera</label>
                        <select class="form-control" id="selectCarrera">
                            <option value="" disabled selected>Elige una carrera</option>
                            @foreach(ControlEscolar.Models.Carrera carrera in ViewBag.Carrera)
                            {
                                <option value="@carrera.Car_Id">@carrera.Car_Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label>Selecciona una materia</label>
                        <select class="form-control" id="selectMateria">
                            <option value="" disabled selected>Elige una materia</option>
                            @foreach(ControlEscolar.Models.Materia materia in ViewBag.Materia)
                            {
                                <option value="@materia.Mat_Id">@materia.Mat_Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label>Selecciona un grupo</label>
                        <select class="form-control" id="selectGrupo">
                            <option value="" disabled selected>Elige un grupo</option>
                            @foreach(ControlEscolar.Models.Grupo grupo in ViewBag.Grupo)
                            {
                                <option value="@grupo.Grp_Id">@grupo.Grp_Id</option>
                            }
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnConsultar">Consultar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

